/*navbar buttons css*/

button {
    color: #333333;
    text-align: center;
    padding: 10px 31px;
    background-color: #808080;
    font-size: 43px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*hover effect for navigation bar buttons*/

button :hover{
    color: #000000;
    border: #999999;
    border-color: #000000;
    border-width: medium;
    background-color: rgb(211, 211, 211);
} 

/*website background and colors*/

body {
    background-color: #c96d6d;
}

footer{
    background-color: #45464b;
    height: 45px;
}

/*fonts css*/

h1 {
    color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 60px;
	text-align: center;
}

p {
   color: #000000;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   border: 5px solid #000000;
}

h2 {
   color: #000000;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 45px;
   border: 5px solid #030303;
}

/*images*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #808080;
  }

/*riddle buttons css*/

.riddle-button {
    color: #808080;
    text-align: center;
    padding: 10px 31px;
    background-color: #000000;
    font-size: 43px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*hover effect for riddle buttons*/

.riddle-button:hover {
    color: #000000;
    border: #80818b;
    border-color: #80818b;
    border-width: medium;
    background-color: silver;
}

/*image float side by side*/

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}